<!DOCTYPE html>
<html>
<head>
    {% include "head_content.html" %}
    <link rel="stylesheet" href="/static/css/analytics.css">
</head>
<body>
    <div id="page-content">
        {% include "nav_area.html" %}
        <div id="analytics-content">
            <div class="title margin-top">
                Loading...
            </div>
            <div class="margin-top">
                JavaScript is required for this page to work.
            </div>
        </div>
    </div>
    <script src="/static/js/analytics.js"></script>
</body>
</html>
