<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam Details</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="page-content">
        <div id="search-bar">
            <select id="mode-select">
                <option value="single-game">Single Game</option>
                <option value="wishlist">Wishlist</option>
            </select>
            <input type="text" id="search-input" autofocus>
            <button id="search-button">Search</button>
        </div>
        <div id="error-message"></div>
        <div id="progress-container" style="display: none;">
            <div id="progress-text"></div>
            <progress id="progress"></progress>
        </div>
        <div id="result"></div>
    </div>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/add_game.js"></script>
</body>
</html>
