<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam Details</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="page-content">
        <div id="search-bar">
            <select id="mode-select">
                <option value="wishlist">Wishlist</option>
                <option value="single-game">Single Game</option>
            </select>
            <input type="text" id="wishlist-search" placeholder="Steam ID / Profile">
            <button id="search-button">Search</button>
        </div>
        <div id="error-message"></div>
        <div id="progress-container" style="display: none;">
            <div>
                Loading...
            </div>
            <progress id="progress" value="0" max="100"></progress>
        </div>
        <div id="result">
            <div class="result-item">
                <a href="https://example.com" target="_blank" class="images">
                    <img class="image" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2952300/header_292x136.jpg?t=1721328204">
                    <img class="image" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2952300/ss_3ab0fe04605aa217de5f6be66ac2e1eb234b1292.600x338.jpg">
                </a>
                <div class="content">
                    <a href="https://example.com" target="_blank" class="title">
                        Oxygen Not Included: The Frosty Planet Pack
                    </a>
                    <div class="small-font">
                        Dieses Produkt benötigt zum Spielen die Steam-Version des Hauptspiels Oxygen Not Included.
                    </div>
                    <div class="details">
                        <div class="small-font details-list">
                            <div title="Difference between lowest current price and lowest historical low">
                                PRICE DIFFERENCE:
                            </div>
                            <div title="Difference between lowest current price and lowest historical low">
                                0,00€
                            </div>
                            <div title="Main Story: 30,5 hours&#10;Main + Extras: 40,7 hours&#10;Completionist: 80,0 hours&#10;All Styles: 40,7 hours">
                                GAME LENGTH:
                            </div>
                            <div title="Main Story: 30,5 hours&#10;Main + Extras: 40,7 hours&#10;Completionist: 80,0 hours&#10;All Styles: 40,7 hours">
                                40,7 hours
                            </div>
                            <div title="Release date of the game">
                                RELEASE DATE:
                            </div>
                            <div title="Release date of the game">
                                18 JUL, 2024
                            </div>
                            <div title="69% of the 100,000 user reviews are positive">
                                OVERALL REVIEWS:
                            </div>
                            <div title="69% of the 100,000 user reviews are positive">
                                VERY POSITIVE
                            </div>
                            <div title="From protondb.com">
                                LINUX SUPPORT:
                            </div>
                            <div title="From protondb.com">
                                PLATINUM
                            </div>
                        </div>
                        <div class="purchase-area-container">
                            <div class="purchase-area">
                                <div title="From steamdb.info" class="historical-low">
                                    <div class="small-font historical-low-label">Historical low</div>
                                    <div class="small-font historical-low-value">9,99€</div>
                                </div>
                                <div class="price">9,99€</div>
                                <a href="https://example.com" target="_blank" class="steam-button">Buy on Steam</a>
                            </div>
                            <div class="purchase-area">
                                <div title="Shop: Kinguin" class="historical-low">
                                    <div class="small-font historical-low-label">Historical low</div>
                                    <div class="small-font historical-low-value">9,99€</div>
                                </div>
                                <div title="Form: GIFT EU&#10;Shop: Kinguin&#10;Edition: Early Access" class="price">9,99€</div>
                                <a href="https://example.com" target="_blank" class="keyforsteam-button">Buy Key or Gift</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
