<div id="nav_area" class="small-font">
    <a href="https://github.com/dodaucy/steam-details" target="_blank" title="View on GitHub">
        <img src="/static/img/github/github.svg" onerror="this.onerror=null; this.src='/static/img/github/github.png'" alt="GitHub">
        <div>
            GitHub
        </div>
    </a>
    <a href="/" {% if selected_nav_item == "index" %}id="active-tab"{% endif %}>
        <div>
            Steam Details
        </div>
    </a>
    <a href="/analytics" {% if selected_nav_item == "analytics" %}id="active-tab"{% endif %}>
        <div>
            Analytics
        </div>
    </a>
    <a>
        <div>
            Lorem Ipsum
        </div>
    </a>
    <a>
        <div>
            Lorem Ipsum
        </div>
    </a>
</div>
