#analytics-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 940px;
}


#service-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 10px;

    background-color: rgba(64, 81, 99, 0.9);
}

#service-stats > * {
    flex: 1;
}

#service-stats > * > * {
    margin: 5px;
    padding: 5px;

    background-color: rgba(62, 66, 71);
    border-radius: 3px;
}


#speed-box-plot {
    width: 100%;
    margin: 10px 0px 10px 0px;
}
