#analytics-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 940px;
}


#module-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 10px;

    background-color: var(--secondary-background-color);
}

#module-stats > * {
    flex: 1;
}

#module-stats > * > * {
    margin: 5px;
    padding: 5px;

    background-color: var(--transparent-2);
    border-radius: 3px;
}


#speed-box-plot {
    width: 100%;
    margin: 10px 0px;
}
