/* General */
body {
    background-color: #1B2838;
    color: #ffffff;
}
* {
    font-family: sans-serif;
}

/* General Elements and Classes */
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
}
.small-font {
    font-size: 12px;
}
[title]:hover {
    cursor: help;
}

/* Page Content */
#page-content {
    margin-top: 30px;

    margin-left: auto;
    margin-right: auto;
    width: 940px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#page-content > * {
    width: 100%;
    margin: 10px 0px 10px 0px;
}



/* Search Bar */
#search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#search-bar > * {
    margin: 0px 5px 0px 5px;
    color: rgb(198, 212, 223);
    padding: 7px 10px 7px 10px;
    border-radius: 3px;
}

/* Mode Select and Search Button */
#mode-select,#search-button {
    background-color: #3D4450;
    border: 0;
}
#mode-select:hover,#search-button:hover {
    background-color: #4F5565;
}

/* Search Input */
#search-input {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 0px 0px;
}
#search-input:hover {
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px 0px inset;
}



/* Error Message */
#error-message {
    color: #ff0000;
}

/* Progress */
#progress-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#wait_for_seconds {
    color: #ffc2c2;
    cursor: pointer;
}

/* Result */
#result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result-item {
    width: 100%;
    padding: 10px;
    margin: 5px 0px 5px 0px;
    background-color: rgba(64, 81, 99, 0.9);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



/* Images */
.images {
    margin-right: 10px;
}
.image {
    display: none;
    width: 292px;
    height: 136px;
}
.image.active {
    display: block !important;
}



/* Content */
.content {
    width: 100%;
}
.content > * {
    margin: 5px 0px 5px 0px;
}



/* Title */
.title {
    font-size: 20px;
    font-weight: bold;
}



/* Details */
.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0;
}
.details > * > * {
    margin: 5px;
    text-align: right;
}



/* Details Grid */
.details-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 30px;
    text-align: left;
}
.details-grid > * {
    margin: 2px;
    text-align: left;
    white-space: nowrap;
    overflow-x: hidden;
}



/* Purchase Area */
.purchase-area-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.purchase-area {
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0;
}
.purchase-area > * {
    margin: 5px;
    white-space: nowrap;
}

/* Historical Low */
.historical-low {
    text-align: center;
}
.historical-low > * {
    white-space: nowrap;
}

/* Price */
.price {
    padding: 5px;
}

/* Buy Buttons */
.steam-button, .keyforsteam-button {
    width: 125px;
    text-align: center;
    color: rgb(210, 239, 169);
    margin-left: 0;
    padding: 7px 15px 7px 15px;
    border-radius: 2px;
}

.steam-button {
    background: linear-gradient( to right, #75b022 5%, #588a1b 95%);
}
.steam-button:hover {
    background: linear-gradient( to right, #8ed629 5%, #6aa621 95%);
}

.keyforsteam-button {
    background: linear-gradient( to right, #aeb022 5%, #8a8a1b 95%);
}
.keyforsteam-button:hover {
    background: linear-gradient( to right, #c0d629 5%, #a6a621 95%);
}



/* Text Colors */
.green-text {
    color: #75b022;
}
.yellow-text {
    color: #CFB53B;
}
.orange-text {
    color: #ff6600;
}
.red-text {
    color: #ff0000;
}
.grey-text {
    color: #aaaaaa;
}
.rainbow-text {
    animation: rainbow-text-animation 3s ease-in-out infinite;
}
@keyframes rainbow-text-animation {
    0% { color: #FF0000; }
    20% { color: #FF7F00; }
    40% { color: #FFFF00; }
    60% { color: #00FF00; }
    80% { color: #fa5eff; }
    100% { color: #FF0000; }
}

/* Purchase Area Colors */
.green-purchase-area {
    background: rgba(100, 255, 0, 0.2);
}
.rainbow-purchase-area {
    animation: rainbow-purchase-area-animation 3s ease-in-out infinite;
}
@keyframes rainbow-purchase-area-animation {
    0% { background-color: rgb(255, 0, 0, 0.2); }
    20% { background-color: rgb(255, 127, 0, 0.2); }
    40% { background-color: rgb(255, 255, 0, 0.2); }
    60% { background-color: rgb(0, 255, 0, 0.2); }
    80% { background-color: rgb(250, 94, 255, 0.2); }
    100% { background-color: rgb(255, 0, 0, 0.2); }
}
